
	 h1 {color: white;
		background-color: #003153;
		font-size: 46px;
		
		font-style: italic;
		font-family: 'Sedgwick Ave Display', cursive;;
		}
	 Body {background-color: grey;}
	 font-family: Arial,helvetica,sans-serif;